include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include education_extension *.css
recursive-include education_extension *.csv
recursive-include education_extension *.html
recursive-include education_extension *.ico
recursive-include education_extension *.js
recursive-include education_extension *.json
recursive-include education_extension *.md
recursive-include education_extension *.png
recursive-include education_extension *.py
recursive-include education_extension *.svg
recursive-include education_extension *.txt
recursive-exclude education_extension *.pyc
